@charset "UTF-8";

@font-face {
  font-family: "libertaria";
  src:url("fonts/libertaria.eot");
  src:url("fonts/libertaria.eot?#iefix") format("embedded-opentype"),
    url("fonts/libertaria.woff") format("woff"),
    url("fonts/libertaria.ttf") format("truetype"),
    url("fonts/libertaria.svg#libertaria") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "libertaria" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "libertaria" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-market:before {
  content: "\62";
}
.icon-sell:before {
  content: "\61";
}
.icon-buy:before {
  content: "\63";
}
